--extra-index-url https://download.pytorch.org/whl/cu124
torch
torchvision
torchaudio
streamlit
pdfplumber
easyocr
pillow
numpy
fastapi
uvicorn
requests
pydantic
chromadb
sentence-transformers
python-dotenv
transformers
peft
accelerate
bitsandbytes
huggingface_hub
langchain
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters